body {
    background-color: #fdedf2;
    font-family: Gilroy-Light, sans-serif !important;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    letter-spacing: 0.05em;
}

h1::before {
    content: "🌈";
    margin-right: 0.5rem;
}

h2::before {
    content: "🌟";
    margin-right: 0.5rem;
}

h3::before {
    content: "🌙";
    margin-right: 0.5rem;
}

a {
    color: #2196f3 !important;
}

a.code {
    color: #c7254e !important;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-family: Gilroy-ExtraBold, sans-serif;
}

.wrapper-footer {
    background-color: #e1f5fe;
    border-top: 4px #ffeb3b solid;
}

.highlight .chroma {
    padding: 1rem;
}

code {
    color: black !important;
    background-color: #f8f8f8 !important;
}

.container {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.card {
    margin: 1rem 0;
}

.tags > .code {
    padding: 0.5rem;
    /*background-color: rgba(255, 255, 255, 0.75);*/
}
