<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    {{ partial "gtm-head.html" . }}
    {{ partial "meta.html" . }}
    {{ partial "favicons.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }} - Weblog by shuuji3</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ partial "includes.html" . }}
</head>
<body lang="en">
    {{ partial "gtm-body.html" . }}
