<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ .Site.BaseURL }}" class="site-avatar"><img src="{{ .Site.Params.avatar }}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <p class="site-description">{{ .Site.Params.description }}</p>
      </div>

      <nav>
        <a href="https://shuuji3.xyz/"><i class="fa fa-home mr-1" aria-hidden="true"></i> Home</a>
        <a href="https://github.com/shuuji3"><i class="fa fa-github mr-1" aria-hidden="true"></i> GitHub</a>
        <!-- <a href="/project"><i class="fa fa-star mr-1" aria-hidden="true"></i> Projects</a> -->
        <a href="/tags"><i class="fa fa-tag mr-1" aria-hidden="true"></i> Tags</a>
      </nav>
    </header>
  </div>
</div>
